<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="fotosocial-new-post-dm">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `fotosocial-new-post-dm`
     * Data manager for fotosocial-new-post element
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class FotosocialNewPostDm extends Polymer.Element {
      static get is() { return 'fotosocial-new-post-dm'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'fotosocial-new-post-dm'
          }
        };
      }
    }

    window.customElements.define(FotosocialNewPostDm.is, FotosocialNewPostDm);
  </script>
</dom-module>
